<div id="header">
  <table>
    <tr>
      <td>
        <img id="ga-logo" src="{{base_uri}}{{web_subfolder}}{{ url_for('static', filename = 'img/ga-logo.jpg') }}" alt="GA's logo"  />
      </td>
      <td>
        <table>
          <tr>
            <td id="quote">
              <span id="quote">Applying geoscience to Australia's most important challenges</span>
            </td>
          </tr>
          <tr>
            <td>
              {% include 'nav.html' %}
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div id="ga-colour-strip-container">
    <img id="ga-colour-strip" src="{{base_uri}}{{web_subfolder}}{{ url_for('static', filename = 'img/lo.jpg') }}" alt="GA's color strip" />
  </div>
</div>
